.menuContainer {
    background-color: black;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.menuContainer ul {
    list-style: none;
    display: flex;
    color: white;
}

.menuContainer a {
    text-decoration: none;
    color: inherit
}

.menuLeft li {
    margin-left: 16px;
}

.menuLeft {
    margin-left: 10vw;
}

.menuRight {
    align-items: center;
    margin-right: 10vw;
}

.menuRight img {
    width: 36px;
}

.menuRight li {
    margin-left: 7px;
    color: #DAA520;
}

.menuLeft li:hover {
    color: #DAA520;
    cursor: pointer;
    transform: translate(-8%, -8%);
}

.menuRight li:hover {
    cursor: pointer;
    color: white;
    transform: translate(-8%, -8%);
}

.mobile {
    color: white;
    display: flex;
    width: 100%;
    margin-left: 90vw;
    margin-top: 5px;
}