.menuMobileContainer {
    position: absolute;
    backdrop-filter: blur(3px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.8953956582633054) 0%, rgba(51, 48, 27, 0.9906337535014006) 100%, rgba(42, 40, 11, 1) 100%);

    color: white;
}

.menuMobileContainer a {
    text-decoration: none;
    color: inherit
}

.menuMobileContainer svg {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.menuContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

.subMenuContent {
    display: flex;
}